@media (max-width: 415px){
	.disappearsmall {
  	display: none;
  	}
  	.center {
    width: 100%;
  	margin: 20px 0;
	}
}
  
/*figure out centering for images on mobile device. Classes are already embedded.
       */
.address-bar{
	color:#BCFB36;
}

.nav {
	font-size: 1em;
}
